body{
        background-color: lightgray; 
        margin: 0 auto;
        max-width: 1200px;
      
}


#last_block{
        background-color: #008b8b;
        color: white;
        text-align: left;
        font-size: 14px;
        font-weight: 800;
        text-align: right;
        margin: 20px;
        padding: 10px;
        }